<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>このサイトについて&ensp;|&ensp;Urban&ensp;Labo-都市雇用圏データを閲覧できるサイト</title>
        <link rel="icon" href="/img/favicon.ico">
        <meta name="application-name" content="Urban Labo">
        <meta name="description" content="日本の代表的な都市圏である「都市雇用圏」の情報をマップやグラフで簡単に閲覧できるサイトです。本サイトの概要説明ページです。">
        <!-- bootstrapのstyleの読み込み -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- fontの読み込み -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
        
        <!-- styleの読み込み -->
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- headerの挿入 -->
        <%- include('header') %> 

        <main>
            <div class="container-fluid text-dark mb-3 mt-3">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h2 class="border-bottom border-info text-info">このサイトについて</h2>
                    </div>
                </div>
            </div>
            <div class="container-fluid text-dark">
                <div class="row justify-content-center mb-3">
                    <div class="col-lg-10 col-12">
                        <h3 class="text-info">都市雇用圏のデータをグラフや地図で閲覧できるようにしたサイトです</h3>
                        <p class="text-justify">
                            &emsp;本サイトは「都市圏の情報を地図やグラフで手軽に見たい」という思いから誕生したサイトです。<br>
                            &emsp;市町村や都道府県といった地方公共団体を超えて広がる圏域の可視化サイトは知名度の低さやデータ結合作業の煩雑さもあってかあまり存在しませんでした。
                            しかしながら、現代の都市とそこでの生活が1つの市町村でとどまることは殆どなく、私たちは通勤、通学や買い物など様々な場面でその境界を超えていきます。
                            また、自治体間同士の連携や広域連合などが注目されるなかで市町村の枠を超えた圏域単位で各地域の情報を見ていくことは重要さを増しています。
                            そこで、このサイトでは市町村の枠を超えた圏域、その中でも都市雇用圏に着目して地図やグラフ、文字情報でその姿を一目でわかるようにすることを目指しました。
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-lg-10 col-12">
                        <h3 class="text-info mb-2">さまざまな圏域設定方法</h3>
                        <p class="text-justify">
                            &emsp;市町村を超えた圏域の設定方法にはいくつかの種類があります。<br>
                            &emsp;1つは政府行政機関や法律で設定されている管轄地域などに注目した圏域の設定方法です。気象庁の地域区分（東京都多摩北部や福島県中通りなど）や首都圏整備法に基づく首都圏（関東地方1都6県と山梨県）などはニュースなどでもよく聞き私たちにも馴染み深いものが多いでしょう。<br>
                            &emsp;2つ目は自治体同士の連携に注目した圏域です。総務省が主導となって進めている定住自立圏構想は地方での生活機能を確保、維持を目指し中心市と近隣市町村が連携していくことを目指すもので全国に129（令和3年4月現在）の定住自立圏が存在します。
                            また、9府県と3つの政令指定都市で構成される関西広域連合は自治体同士の連携による地域圏であると同時にそれ自体が日本最大の地方公共団体（特別地方公共団体）でもあります。<br>
                            &emsp;3つ目が通勤や通学など何らかの都市生活指標にに着目し機械的に算出した圏域、いわゆる都市圏です。都市雇用圏もこの都市圏という圏域設定方法の中に入ります。都市圏は、他に総務省が作成している都市圏・大都市圏や、単純に人口が集住している地区を連続で設定する方法などがあります。
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-lg-10 col-12">
                        <h3 class="text-info mb-2">なぜ都市雇用圏か</h3>
                        <p class="text-justify">
                            &emsp;前節の中で市町村を超えた圏域設定には様々なものがあることを紹介しましたが、その中で都市圏そして都市雇用圏に着目したのには以下のような理由があります。<br>
                            &emsp;1つ目が、現代の社会生活の基本である通勤に着目した圏域設定である点です。そもそも、今のように日常的にしかも多くの人々が市町村間を移動するようになったのは、都市の発達とその周辺に郊外住宅地が広がっていったことが大きな要因であることは間違いありません。
                            また、産業の発達した中心都市とそこでの労働者が居住する郊外という組み合わせは現代における経済単位として非常に自然です。<br>
                            &emsp;2つ目が、日本全国に統一的で客観的な基準で都市圏を設定できる点です。都市雇用圏は、通勤率を基に算出しており、その設定に地域による差や恣意性が入る事がありません。また、設定の基となるデータは国勢調査の結果を利用しているため信頼性もあります。
                            この点、定住自立圏は自治体同士の協定が必要ですし、政府の管轄地域や法律で設定されている圏域はそれぞれ独自の目的があり、市町村を組み合わせた単位として客観性に欠ける恐れがあります。<br>
                            &emsp;3つ目が、地方部での小さな都市圏も単位として見ることができる点です。総務省の都市圏・大都市圏の中心都市となるには人口50万人以上または政令指定都市か東京都特別区部であることが必要で、地方での中核的な都市にしか都市圏を設定することができません。
                            一方、都市雇用圏はDID人口が1万人以上であれば都市圏を設定できるため地方における都市分析指標としてより適していると言えるでしょう。（ただし、人口減少が進んでいる現在ではこの基準でも厳しいという声もあるようです。）<br>
                            &emsp;以上の3点が本サイトで都市雇用圏を基準としている理由です。特に本サイトでは、東京都市圏のような巨大都市圏から、地方の中小都市圏まで網羅的に情報を表示できるようにしたかっため、都市雇用圏が適しているという判断にななりました。
                            もちろんそれぞれの圏域には目的があるため、いずれの設定方法に優劣があるわけではないことは強調しておきます。
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-lg-10 col-12">
                        <h3 class="text-info mb-2">本サイト利用上の注意点</h3>
                        <div class="mb-2">
                            <h5 class="text-info">中心都市、副中心について</h4>
                            <p class="text-justify">
                                &emsp;都市雇用圏は1つの都市圏の中で複数の中心市町村の存在を許容する都市圏です。そのため、郊外条件を満たさない1次的な中心市町村と郊外の中でもDID人口と従業常住比率の基準を満たし中心市町村を区別する必要があります。
                                本サイトでは、郊外条件を満たさない中心市町村を「中心都市」、その他の中心市町村を「副中心」または「郊外中心」と呼称します。1つの都市圏には必ず1つだけ中心都市が存在しますが、副中心は存在しない場合や複数存在する場合があります。
                                また、これら中心都市と副中心をまとめた中心全体は「中心市町村」と呼称します。そのため、本サイトで中心都市の人口と言った場合は郊外条件を満たさない市町村1つのみの人口を、中心市町村の人口は副中心も含めた人口のことを指します。
                            </p>
                        </div>
                        <div class="mb-2">
                            <h5 class="text-info">都市圏の名称について</h4>
                            <p class="text-justify">
                                &emsp;本サイトでは、都市圏の名称について以下のようなルールを定めています。
                                <ul>
                                    <li>市が中心市町村の場合は「市」を除いた市名に「都市圏」を合わせ名称とします。<br>
                                        <div class="pl-4">（例：姫路市を中心とする都市雇用圏 -> 姫路都市圏）</div>
                                    </li>
                                    <li>町村が中心市町村の場合は町村名に「都市圏」を合わせ名称とします。<br>
                                        <div class="pl-4">（例：瑞穂町を中心とする都市雇用圏 -> 瑞穂町都市圏）</div>
                                    </li>
                                    <li>副中心が存在する場合は、中心都市、副中心の順に列挙し「都市圏」を合わせたものを名称とします。<br>
                                        <div class="pl-4">（例：中心都市が京都市、副中心が草津市から成る都市雇用圏 -> 京都・草津都市圏）</div>
                                    </li>
                                    <li>副中心が3つ以上存在する場合は、中心都市の市町村名のみに、「都市圏」を合わせたものを名称とします。<br>
                                        <div class="pl-4">（例：中心都市が名古屋市、副中心が小牧市、安城市、東海市などから成る都市雇用圏 -> 名古屋都市圏）</div>
                                    </li>
                                    <li>上記のルールによる都市圏名称とは別に、地域を表す適当な名称がある場合には副名称として付与しています<br>
                                        <div class="pl-4">（例：神栖・鹿嶋都市圏 -> 鹿島臨海都市圏、那覇・浦添都市圏 -> 沖縄本島南部都市圏）
                                    </li>
                                </ul>
                                副名称はあくまで各都市圏の地域を作者独自の判断で付与したものです。不適当な副名称の指摘やまたは副名称としての提案があれば、TwitterのDMにでも送ってください。（もちろん必ず採用するとは限りません。）
                            </p>
                        </div>
                        <div class="mb-2">
                            <h5 class="text-info">掲載されている図・グラフ・データ・文章などについて</h4>
                            <p class="text-justify">
                                &emsp;本サイトに掲載されている、図・グラフ・画像・データ・文章は、出典および本サイトのトップページへのリンクを明記頂ければ、公序良俗の範囲内で引用・複製・加工し公開していただいても構いません。
                                ただし、一部のデータは別に著作権者が存在する場合があります。また、本サイトの情報を利用し発生したいかなる損害についてもUrban Laboおよび作者はその責任を負いかねますので予めご了承ください。
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </main>

        <!-- footerの挿入 -->
        <%- include('footer') %>
        <!-- jqueryの読み込み -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <!-- bootstrapのjs読み込み -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>