<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>都市雇用圏とは&ensp;|&ensp;Urban&ensp;Labo-都市雇用圏データを閲覧できるサイト</title>
        <link rel="icon" href="/img/favicon.ico">
        <meta name="application-name" content="Urban Labo">
        <meta name="description" content="日本の代表的な都市圏である「都市雇用圏」の情報をマップやグラフで簡単に閲覧できるサイトです。都市雇用圏とは何かを説明したページです。">
        <!-- bootstrapのstyleの読み込み -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- fontの読み込み -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
        
        <!-- styleの読み込み -->
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- headerの挿入 -->
        <%- include('header') %> 

        <main>
            <div class="container-fluid text-dark mb-3 mt-3">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h2 class="border-bottom border-info text-info">都市雇用圏とは</h2>
                    </div>
                </div>
            </div>
            <div class="container-fluid text-dark">
                <div class="row justify-content-center mb-3">
                    <div class="col-lg-10 col-12">
                        <h3 class="text-info">都市雇用圏とは</h3>
                        <p class="text-justify">
                            &emsp;市町村を超えて広がる都市の範囲を何らかの基準を用いて画定するものが都市圏です。都市圏には様々な基準が提唱されており、またその意味も文脈により異なる場合があります。
                            たとえば、自治体などの資料で都市圏という言葉が出た場合単純に都道府県の中でその市町村が区分される地域といった意味合いで使われることもあります。また、メディアなどでは関東地方1都3県を指して東京都市圏など言ったりする場合も見受けられます。
                            ただし、都市圏という言葉の本来の意味を考えると都市とその郊外が広がる範囲ということですから、そこには通勤や通学などの交流人口の指標を基準として設定されたものを指すのが適切であるとは思います。
                            日本では、都市雇用圏の他に総務省の都市圏・大都市圏も多く用いられます。2つの都市圏設定にはそれぞれ細かな違いがありますが、都市雇用圏は全国網羅的に地方の小さな都市圏から東京、大阪のような巨大都市を中心とする都市圏まで設定ができることが強みでしょう。
                            一方、都市圏・大都市圏は特に中核的な都市圏について、都市雇用圏よりも広域的に見ることができるのが強みでしょう。特に、関西地方では都市雇用圏が大阪、京都、神戸が別の都市圏であるのに対し、都市圏・大都市圏では京阪神都市圏として1つの圏域となっており、その広域性に差がでます。
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-lg-10 col-12">
                        <h3 class="text-info mb-2">都市雇用圏の特徴</h3>
                        <p class="text-justify">
                            &emsp;都市雇用圏の特徴は次のような点があげられます。<br>
                            &emsp;1つ目が中心都市を人口集中地区（DID）の人口を基準として設定することです。
                            総務省の都市圏・大都市圏のように政令指定都市やそれに準ずる規模の都市のみに都市圏を設定する場合と異なり、都市雇用圏では規模の小さな都市にも都市圏を設定するため単純な市町村人口よりも都市的性格の強い地域を持つ市町村を中心都市として選定できる可能性が高まります。<br>
                            &emsp;2つ目が通学を含まない通勤流出を郊外の条件とすることです。これにより、民間経済の外で決まる事も多い学校立地の影響を排除することができます。<br>
                            &emsp;3つ目が複数の中心を許容する都市圏であることです。これにより様々な都市構造に対応した都市圏を適切に設定することができます。
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-lg-10 col-12">
                        <h3 class="text-info mb-2">都市雇用圏の設定方法</h3>
                        <p class="text-justify">
                            &emsp;ここでは都市雇用圏の手順を見ていきます。都市雇用圏における中心市町村と郊外市町村の条件は以下の通りです。<br>なお都市雇用圏のより詳しい設定方法などは<u><a href="https://www.csis.u-tokyo.ac.jp/UEA/index.htm">都市雇用圏のホームページ</a></u>をご確認ください。<br>
                            <ol>
                                [中心市町村の条件]
                                <li>DID人口が1万人以上の市町村</li>
                                <li>他市町村の郊外となっている市町村は中心都市から除外する</li>
                                <li>相互に通勤率が基準値以上となっている双方向通勤の場合には、通勤率が大きい方を小さい方の郊外とし、小さい方を中心都市とする</li>
                                <li>郊外市町村のなかで従業常住人口比が 1 以上であり、しかも、DID 人口が中心市町村の 3 分の 1 以上か、あるいは 10 万以上である市町村をその都市圏の中心都市に組み入れる。政令指定都市については、市全体では従業常住人口比の基準を満たしていなくても、一つあるいは複数の区が上の条件を満たしていれば、（市全体を）中心都市に加える</li>
                            </ol>
                            
                            <ol>
                                [郊外市町村の条件]
                                <li>中心都市への通勤率が 10％以上の市町村をその中心都市の郊外市町村とする</li>
                                <li>中心都市が複数の市町村から構成される場合には、それらの市町村全体への通勤率を用いる</li>
                                <li>通勤率が 10％を超える中心都市が複数存在する場合には、通勤率が最大の中心都市の郊外とする</li>
                                <li>2 次以降の郊外も都市圏に含める</li>
                                <li>中心都市及び他の郊外市町村への通勤率が 10％を超える場合には、通勤率がより大きいものの郊外であるとする</li>
                                <p>（金本、徳岡（2001）より）</p>
                            </ol>
                            ではどのように都市雇用圏が設定されるのかここでは以下のような構造となっている地域を例にとり解説していきます。
                            <br><br><img src="/img/aboutUEA01.png" class="img-fluid"><br><br>
                            &emsp;ここでは、Ａ～Ｍの12の市町村があると仮定します。各自治体の中段の数字がDID人口、下段の数字が従業常住比率です。また、市町村間の矢印は通勤率を表します。<br>
                            まずは、中心市町村の候補となるDID人口が1万人以上の市町村を抜き出します。ここでは、A、B、H、I、L、Mが候補となります。また、この5つの市町村のうち他の自治体の郊外ではない（つまり10％以上の流出先がない）をさらに抽出するとHとMが該当します。
                            ここでAとBはお互いに通勤率が10%を超えてるので、中心市町村の条件の3より通勤率が小さいAが中心市町村となります。
                            <br><br><img src="/img/aboutUEA02.png" class="img-fluid"><br><br>
                            &emsp;次に、1次郊外市町村となる市町村を抜き出します。Aの郊外となるのはBとF、Mの郊外となるのはIとLです。Hには郊外がありません。<br>
                            1次郊外の抽出が完了しましたので次にこの中で郊外中心となる市町村がないか探します。中心市町村の条件4より、Mの郊外であるIが従業常住人口比とDID人口の両方の条件を満たすので中心に加えます。
                            次に中心が加わったことで新たに郊外となる市町村がないか探します。すると、HはIとMそれぞれへの通勤率は10%を超えませんが、足すと11%となるためHもI、Mの1次郊外に加えます（郊外市町村の条件2より）。
                            Hは中心市町村の条件を満たしませんから、1次郊外のままとなります。また、DはIへの通勤率が10%を超えますが、Cへの通勤率の方が高いためIの郊外とはなりません。
                            こうして、Aの1次郊外がB、Fとなり、M・Iの1次郊外がH、Lということになりました。
                            <br><br><img src="/img/aboutUEA03.png" class="img-fluid"><br><br>
                            &emsp;1次郊外の抽出が完了したので、続いて2次郊外市町村の抽出を行います。すると、1次郊外市町村への通勤率が10%以上なのは、G、J、Kという事になります。
                            ここで、JはFへの通勤率よりKへの通勤率の方が高いので2次郊外ではありません。
                            よって2次郊外市町村は、Bの郊外であるG、Lの郊外であるKということになります。次に2次郊外市町村の中で郊外中心となれる市町村を探しますが今回はいずれの市町村も条件を満たさないのでこのまま進みます。
                            続いて3次郊外市町村を抜き出します。Jが2次郊外であるKへの通勤率が10%以上かつ最大ですので、Jを3次郊外市町村とします。Jも郊外中心の条件は満たしませんからこのまま郊外ということになります。
                            次に4次郊外市町村を抜き出しますが、今回は3次郊外市町村であるJへの通勤率が10%以上となる市町村は存在しないので、今回の都市雇用圏設定はこれで終了となります。
                            <br><br><img src="/img/aboutUEA04.png" class="img-fluid"><br><br>
                            &emsp;このように都市雇用圏の条件は比較的シンプルかつ明瞭なルールで決められているため機械的に算出することが可能なことが特徴となっています。
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-lg-10 col-12">
                        <h3 class="text-info mb-2">注意すべきは通勤率と従業常住人口比率</h3>
                        <p class="text-justify">
                            &emsp;先ほど見てきたように都市雇用圏は比較的シンプルで明瞭なルールで決められていいますが、注意が必要なのはその基準となる通勤率と従業常住人口比率です。
                            ここは、間違いが起きやすいポイントとなっており、誤解が生じている所です。
                            まず、通勤率の算出方法ですが、真っ先にこの言葉から考えられる算出方法は<br>
                            <br>通勤者数&emsp;/&emsp;人口　（誤った通勤率算出方法）<br><br>
                            だと思います。しかしながら都市雇用圏は通勤にのみ目を当てているため通勤者ではない人まで含める単純人口を分母とするのは不適切です。
                            そこで、働いている人の数である就業者数を用います。さらに分子の通勤者数は国勢調査の集計上15歳以上の就業者数に限定して出されていますので、分母の就業者数も15歳以上とします。
                            また、就業者数の中には通勤先が不詳の人や外国へ通勤している方も含まれています。こうした人数を加えるのは不適切ですので、これらは除きます。そうすると以下のようになります。<br>
                            <br>通勤率&emsp;=&emsp;通勤者数&emsp;/&emsp;(15歳以上の就業者数&emsp;-&emsp;通勤先不詳&emsp;-&emsp;通勤先外国)<br><br>
                            &emsp;次に従業常住人口比率ですがこちらも誤解が多い指標で、よくある間違いが昼夜人口比率との混同です。そこで昼夜人口比率の定義を確認してみると次のようになっています。
                            <br>昼夜人口比率&emsp;=&emsp;常住人口&emsp;/&emsp;(常住人口&emsp;-&emsp;流出人口&emsp;+&emsp;流入人口)<br>
                            注意すべきはここで分母の流出人口と流入人口は通学も含むということです。このため昼夜人口比率は都市雇用圏での指標としては不適切です。
                            そのため、これらを除いた数値を利用します。上段の常住就業者数は先ほどの通勤率の分母と一緒です。
                            <br><br>常住就業者数&emsp;=&emsp;(15歳以上の就業者数&emsp;-&emsp;通勤先不詳&emsp;-&emsp;通勤先外国)
                            <br>従業常住者比率&emsp;=&emsp;常住就業者数&emsp;/&emsp;(常住就業者数&emsp;-&emsp;流出就業者数&emsp;+&emsp;流入就業者数)<br><br>
                            このように都市雇用圏で用いられる通勤率や従業常住者比率は一般にイメージするようなものと少し計算が異なるため注意が必要となります。
                        </p>
                    </div>
                </div>
            </div>
        </main>

        <!-- footerの挿入 -->
        <%- include('footer') %>
        <!-- jqueryの読み込み -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <!-- bootstrapのjs読み込み -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>