<footer class="py-4 bg-info text-light">
    <div class="container-fluid text-right">
        <div class="row justify-content-around">
            <div class="col-10 col-lg-3 pr-lg-5">
                <h5>このサイトについて</h5>
                <ul class="list-unstyled text-small text-right">
                    <li><a class="text-light" href="/aboutThisSite">このサイトについて</a></li>
                    <li><a class="text-light" href="/aboutUEA">都市雇用圏とは</a></li>
                    <li><a class="text-white-50" >データについて</a></li>
                </ul>
            </div>
            <div class="col-10 col-lg-3 pr-lg-5">
                <h5>全国都市雇用圏マップ</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-white-50" >令和&ensp;2（2020）年</a></li>
                    <li><a class="text-light" href="/ueamap2015">平成27（2015）年</a></li>
                    <li><a class="text-white-50" >平成22（2010）年</a></li>
                    <li><a class="text-white-50" >平成17（2005）年</a></li>
                    <li><a class="text-light" href="/ueamap2000">平成12（2000）年</a></li>
                    <li><a class="text-white-50" >平成&ensp;7（1995）年</a></li>
                    <li><a class="text-white-50" >平成&ensp;2（1990）年</a></li>
                    <li><a class="text-white-50" >昭和55（1980）年</a></li>
                </ul>
            </div>
            <div class="col-10 col-lg-3 pr-lg-5">
                <h5>コンテンツ</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-light" href="/dataTable">データ表</a></li>
                    <li><a class="text-white-50" >ランキング</a></li>
                    <li><a class="text-white-50" >ダウンロード</a></li>
                    <li><a class="text-white-50" >リンク</a></li>
                </ul>
            </div>
            <div class="col-10 col-lg-3 pr-lg-5">
                <h5>Twitter</h5>
                <a class="twitter-timeline" data-lang="ja" data-height="250" data-theme="light" href="https://twitter.com/labo_urban?ref_src=twsrc%5Etfw">Tweets by labo_urban</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        <p class="text-center mt-5"><small>Copyright&ensp;2021&ensp;Urban&ensp;Labo,&ensp;All&ensp;Rights&ensp;Reserved.</small></p>
    </div>
</footer>