/*
 * ueamap2015.ejs用スタイル
 */
@charset "UTF-8";
h5 {
    z-index: 5 !important;
}
#uea-list {
    z-index: 0;
}
#map-container {
    width: 100%;
    height: 650px;
}
#map {
    width: 100%;
    height: 100%;
    z-index: 0 !important;
}

#uea-list-area {
    overflow-y: scroll;
}

.modal-body {
    overflow-y: scroll;
}